dist: xenial

language: python

python:
  - "3.6"

cache: pip

notifications:
  email: false

git:
  depth: 10

services:
  - docker

env:
  global:
    - ENERGYPLUS_VERSION=EnergyPlus-9.2.0-921312fa1d-Linux-x86_64
  jobs:
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Applications\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Applications\""
    - TEST_ARG="make test-jmodelica PACKAGE=\"Buildings.Applications\""

    fi;
  - if [[ "$TEST_ARG" == *test-optimica* ]]; then
       docker pull "$DOCKER_USERNAME"/travis-ubuntu-1804-optimica;
       chmod +x Buildings/Resources/Scripts/travis/optimica/jm_ipython.sh;
       cp Buildings/Resources/Scripts/travis/optimica/jm_ipython.sh $HOME/bin/jm_ipython.sh;
    fi;
  - if [[ "$TEST_ARG" == *test-jmodelica* ]]; then
       docker pull "$DOCKER_USERNAME"/ubuntu-1804_jmodelica_trunk;
       chmod +x Buildings/Resources/Scripts/travis/jmodelica/jm_ipython.sh;
       cp Buildings/Resources/Scripts/travis/jmodelica/jm_ipython.sh $HOME/bin/jm_ipython.sh;
    fi;
  - if [[ "$TEST_ARG" == *test-energyplus* ]]; then
      wget https://github.com/NREL/EnergyPlus/releases/download/v9.2.0/${ENERGYPLUS_VERSION}.tar.gz;
      tar xzf ${ENERGYPLUS_VERSION}.tar.gz;
      cd ${ENERGYPLUS_VERSION};
      mv energyplus EnergyPlus;
    fi;

# Install dependencies
# For sphinx, we need to install specific package versions, otherwise
# the html output may have small formatting differences which causes
# the test to fail
install:
  - pip3 install --upgrade pip setuptools wheel
  - pip3 install --only-binary=numpy,scipy,matplotlib numpy==1.13.3 scipy==0.19.1 matplotlib==2.1.0
  - if [[ "$TEST_ARG" == *test-documentation* ]]; then
      pip3 install sphinx==2.1.2 \
        sphinx-bootstrap-theme==0.7.1 \
        sphinxcontrib-bibtex==0.4.2 \
        sphinxcontrib-plantuml==0.17 \
        alabaster==0.7.12 \
        MarkupSafe==1.1.1 \
        Pygments==2.4.2 \
        snowballstemmer==1.9.0 \
        docutils==0.15.2 \
        Babel==2.7.0 \
        requests==2.22.0 \
        Jinja2==2.10.1 \
        latexcodec==1.0.7 \
        pybtex==0.22.2
        pybtex-docutils==0.2.1 \
        oset==0.1.3 \
        PyYAML==5.1.2;
    fi;
  - pip3 install git+https://github.com/lbl-srg/BuildingsPy@master

# Execute tests
script:
  - (cd Buildings/Resources/Scripts/travis && travis_wait 90 $TEST_ARG)
