os: Linux
dist: focal

language: python

python:
  - "3.8"

branches:
  only:
    - master
    - /^maint_.*$/
    - release

cache:
  pip: true
  directories:
    - .git/lfs

notifications:
  email: false

git:
  depth: 10
  lfs_skip_smudge: true

services:
  - docker
  - xvfb

env:
  global:
    - DOCKER_REPONAME=lbnlblum
    - BUILDINGSPY_VERSION=BuildingsPy@v5.1.0
    - OMC_VERSION=ubuntu-2204-omc:1.22.1-1
    - OPTIMICA_VERSION=travis-ubuntu-2204-optimica:1.43.4_rev-1
    - DYMOLA_VERSION=travis_ubuntu-2004_dymola:2024x-x86_64
    - ENERGYPLUS_9_6_0=EnergyPlus-9.6.0-f420c06a69-Linux-Ubuntu20.04-x86_64
    - ENERGYPLUS_23_1_0=EnergyPlus-23.1.0-87ed9199d4-Linux-Ubuntu20.04-x86_64
    - MODELICA_JSON_VERSION=6d950c3592fa021aa914ba4ff34a67cbb69962c6
    - MODELICA_JSON_HOME=${TRAVIS_BUILD_DIR}/modelica-json

  jobs:
    - TEST_ARG="make test-cdl-conformance"
    - TEST_ARG="make test-energyplus-validations test-dymola-spawn-spaces test-openmodelica-spawn-spaces test-openmodelica-cdl" #target test-optimica-spawn-fmu removed as it requires a local installation of OCT
    - TEST_ARG="make test-bestest"
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.{Air,Examples}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.{Air,Examples}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.{Air,Examples}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.ThermalZones.EnergyPlus_9_6_0\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.ThermalZones.EnergyPlus_9_6_0\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.ThermalZones.EnergyPlus_9_6_0\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.ThermalZones.Detailed.{BaseClasses,Constructions,Examples}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.ThermalZones.Detailed.{BaseClasses,Constructions,Examples}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.ThermalZones.Detailed.{BaseClasses,Constructions,Examples}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.ThermalZones.Detailed.Validation.BESTEST\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.ThermalZones.Detailed.Validation.BESTEST\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.ThermalZones.Detailed.Validation.BESTEST\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.ThermalZones.Detailed.Validation.{Initialization,LBNL_71T,TestConditionalConstructions}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.ThermalZones.Detailed.Validation.{Initialization,LBNL_71T,TestConditionalConstructions}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.ThermalZones.Detailed.Validation.{Initialization,LBNL_71T,TestConditionalConstructions}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.ThermalZones.Detailed.FLEXLAB\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.ThermalZones.Detailed.FLEXLAB\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.ThermalZones.Detailed.FLEXLAB\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.ThermalZones.{ISO13790,ReducedOrder}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.ThermalZones.{ISO13790,ReducedOrder}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.ThermalZones.{ISO13790,ReducedOrder}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Applications\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Applications\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Applications\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Experimental.DHC.{EnergyTransferStations,Loads,Networks,Plants}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Experimental.DHC.{EnergyTransferStations,Loads,Networks,Plants}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Experimental.DHC.{EnergyTransferStations,Loads,Networks,Plants}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Experimental.DHC.Examples.Combined\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Experimental.DHC.Examples.Combined\" SINGLEPROC=\"true\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Experimental.DHC.Examples.Combined\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Experimental.DHC.Examples.{Cooling,Steam}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Experimental.DHC.Examples.{Cooling,Steam}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Experimental.DHC.Examples.{Cooling,Steam}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Fluid.{Actuators,BaseClasses,Boilers,Chillers,CHPs,Delays}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Fluid.{Actuators,BaseClasses,Boilers,Chillers,CHPs,Delays}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Fluid.{Actuators,BaseClasses,Boilers,Chillers,CHPs,Delays}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Fluid.{Examples,FMI}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Fluid.{Examples,FMI}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Fluid.{Examples,FMI}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Fluid.FixedResistances\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Fluid.FixedResistances\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Fluid.FixedResistances\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Fluid.{Geothermal,HeatExchangers,HeatPumps,Humidifiers,HydronicConfigurations,Interfaces}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Fluid.{Geothermal,HeatExchangers,HeatPumps,Humidifiers,HydronicConfigurations,Interfaces}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Fluid.{Geothermal,HeatExchangers,HeatPumps,Humidifiers,HydronicConfigurations,Interfaces}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Fluid.{MassExchangers,MixingVolumes,Movers,Sensors,SolarCollectors,Sources,Storage,Utilities}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Fluid.{MassExchangers,MixingVolumes,Movers,Sensors,SolarCollectors,Sources,Storage,Utilities}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Fluid.{MassExchangers,MixingVolumes,Movers,Sensors,SolarCollectors,Sources,Storage,Utilities}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Electrical\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Electrical\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Electrical\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.{Airflow,BoundaryConditions,Controls}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.{Airflow,BoundaryConditions,Controls}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.{Airflow,BoundaryConditions,Controls}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.HeatTransfer\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.HeatTransfer\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.HeatTransfer\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.{Obsolete,Occupants,Media}\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.{Obsolete,Occupants,Media}\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.{Obsolete,Occupants,Media}\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Utilities\""
    - TEST_ARG="make test-openmodelica PACKAGE=\"Buildings.Utilities\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Utilities\""
    - TEST_ARG="make test-dymola    PACKAGE=\"Buildings.Templates\""
    - TEST_ARG="make test-openmodelica  PACKAGE=\"Buildings.Templates\""
    - TEST_ARG="make test-optimica  PACKAGE=\"Buildings.Templates\""

before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - if [[ "$TEST_ARG" == *test-dymola* || "$TEST_ARG" == *test-bestest* || "$TEST_ARG" == *spawn-portability* ]]; then
       docker pull "$DOCKER_REPONAME"/${DYMOLA_VERSION};
       cp Buildings/Resources/Scripts/travis/dymola/dymola $HOME/bin/;
    fi;
  - if [[ "$TEST_ARG" == *test-optimica* ]]; then
       docker pull "$DOCKER_REPONAME"/${OPTIMICA_VERSION};
       cp Buildings/Resources/Scripts/travis/optimica/jm_ipython.sh $HOME/bin/jm_ipython.sh;
    fi;
# The Spawn idf reference results are generated with EnergyPlus 9.6.0,
# while others use a more recent EnergyPlus, hence we install both
  - if [[ "$TEST_ARG" == *test-energyplus* ]]; then
      wget --no-verbose https://github.com/NREL/EnergyPlus/releases/download/v9.6.0/${ENERGYPLUS_9_6_0}.tar.gz;
      tar xzf ${ENERGYPLUS_9_6_0}.tar.gz;
      rm ${ENERGYPLUS_9_6_0}.tar.gz;
      echo "Installed EnergyPlus in ${PWD}/${ENERGYPLUS_9_6_0}";
      wget --no-verbose https://github.com/NREL/EnergyPlus/releases/download/v23.1.0/${ENERGYPLUS_23_1_0}.tar.gz;
      tar xzf ${ENERGYPLUS_23_1_0}.tar.gz;
      rm ${ENERGYPLUS_23_1_0}.tar.gz;
      echo "Installed EnergyPlus in ${PWD}/${ENERGYPLUS_23_1_0}";
    fi;
  - if [[ "$TEST_ARG" == *test-cdl-conformance* ]]; then
      wget --no-verbose https://github.com/lbl-srg/modelica-json/archive/${MODELICA_JSON_VERSION}.tar.gz;
      tar xzf ${MODELICA_JSON_VERSION}.tar.gz;
      rm ${MODELICA_JSON_VERSION}.tar.gz;
      mv modelica-json-${MODELICA_JSON_VERSION} ${MODELICA_JSON_HOME};
      cd ${MODELICA_JSON_HOME};
      make install-node-packages;
      make compile;
      cd -;
      echo "Installed modelica-json in ${MODELICA_JSON_HOME}";
    fi;
  - if [[ "$TEST_ARG" == *test-openmodelica* ]]; then
       docker pull "$DOCKER_REPONAME"/${OMC_VERSION};
       cp Buildings/Resources/Scripts/travis/omc/omc $HOME/bin/omc;
    fi;

# Install dependencies
# For sphinx, we need to install specific package versions, otherwise
# the html output may have small formatting differences which causes
# the test to fail
install:
  - git lfs pull
  - pip3 install --upgrade pip wheel
  - pip3 install --only-binary=numpy,scipy,matplotlib numpy==1.21.4 scipy==1.7.3 matplotlib==3.5.1
  - pip3 install git+https://github.com/lbl-srg/${BUILDINGSPY_VERSION}
  - if [[ "$TEST_ARG" == *test-energyplus* ]]; then
      export ENERGYPLUS_9_6_0=${ENERGYPLUS_9_6_0};
      export ENERGYPLUS_23_1_0=${ENERGYPLUS_23_1_0};
      pip3 install pandas==1.3.5;
    fi;
  - if [[ "$TEST_ARG" == *EnergyPlus_9_6_0* ]] || [[ "$TEST_ARG" == *Buildings.Experimental.DHC.{EnergyTransferStations,Loads,Networks,Plants}* ]] || [[ "$TEST_ARG" == *spawn* ]]; then
      echo "Installing Spawn binaries";
      Buildings/Resources/src/ThermalZones/install.py --binaries-for-os-only;
    fi;
  - if [[ "$TEST_ARG" == *SINGLEPROC* ]]; then
      export NPROC=1;
    else
      export NPROC=10;
    fi;

# Execute tests
script:
  - (cd Buildings/Resources/Scripts/travis && travis_wait 90 $TEST_ARG)

after_failure:
  - |
    for ff in `find Buildings -maxdepth 1 -name '*.log'`; do
      echo "*** Content of $ff"
      cat $ff
      echo "*** End of $ff"
    done
