alabaster==0.7.13
Babel==2.15.0
certifi==2024.7.4
charset-normalizer==3.4.0
contourpy==1.3.3
cycler==0.12.1
docutils==0.21.2
fonttools==4.62.1
idna==3.7
imagesize==1.4.1
Jinja2==3.1.6
kiwisolver==1.5.0
latexcodec==2.0.1
MarkupSafe==2.1.5
matplotlib==3.10.8
numpy==2.4.2
packaging==24.2
pillow==12.2.0
pybtex==0.24.0
pybtex-docutils==1.0.3
Pygments==2.20.0
pyparsing==3.1.4
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
requests==2.33.0
scipy==1.17.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.4.7
sphinx-bootstrap-theme==0.8.1
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-bibtex==2.6.2
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.28
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
sphinxcontrib-jquery==4.1.0
urllib3==2.6.3
